@font-face {
  font-family: 'typicons';
  src: url("bower_components/typicons/src/font/typicons.eot");
  src: url("bower_components/typicons/src/font/typicons.eot?#iefix") format('embedded-opentype'),
       url("bower_components/typicons/src/font/typicons.woff") format('woff'),
       url("bower_components/typicons/src/font/typicons.ttf") format('truetype'),
       url("bower_components/typicons/src/font/typicons.svg#typicons") format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
	display: flex;
	flex-direction: row;
	justify-content: center;


	font-family: "Roboto", sans-serif;
	background-color: #FDFDF2;

}
/*
.name {
	display: flex;
	flex-direction: row;		
	margin-top: 100px;
	font-size: 75px;
	text-align: center;
	justify-content: center;
}
*/
#name {
	margin-top: 100px;
	font-size: 75px;
	padding-bottom: 80px;
}

.nm1 {
	text-align: right;
}

.nm2 {
	text-align: left;
}

.col {
	display: flex;
	flex-direction: column;
}
/*
.grid {
	display: flex;
	flex-direction: row;		
	justify-content: center;
	padding-top: 5%;
}*/

.desc {
	font-size: 31px;
	text-align: left;
    border-left: thin solid black;
    margin: 0px 5px 0px 15px;
    padding-left: 15px;
}
/*
div.grid div {
    height: 215px;
}*/

div.face img {
    max-height: 215px;
}

/*
.title {
	padding-top: 50px;
	font-size: 25px;
	color: #156905;
}*/

.link {
    color: #960D27;
    text-decoration: none;
}

.typcn {
	font-size: 50px;
}
