body {
	font-family: "Muli", sans-serif;
	text-align: center;
	background-color: rgba(253, 253, 239, 0.6);
}

.link {
	color:  #960D27;
}

.box {
	font-size: 18px;
}

.title {
	padding-top: 50px;
	padding-bottom: 3px;
	font-size: 25px;
	color: #156905;
}

.name {
	margin-top: 100px;
	font-size: 60px;
}

.comments {
	text-align: right;
}

#horlist li {
	display: inline-block;
	margin: 0 80px 0 50px;
}
