@font-face {
  font-family: 'typicons';
  src: url("bower_components/typicons/src/font/typicons.eot");
  src: url("bower_components/typicons/src/font/typicons.eot?#iefix") format('embedded-opentype'),
       url("bower_components/typicons/src/font/typicons.woff") format('woff'),
       url("bower_components/typicons/src/font/typicons.ttf") format('truetype'),
       url("bower_components/typicons/src/font/typicons.svg#typicons") format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
	font-family: "Muli", sans-serif;
	text-align: center;
	background-color: rgba(253, 253, 239, 0.6);
}

.name {
	margin-top: 100px;
	font-size: 60px;
}

.title {
	padding-top: 50px;
	padding-bottom: 3px;
	font-size: 25px;
	color: #156905;
}

.box {
	font-size: 21px;
}

.link {
	color:  #960D27;
}

.typcn {
	font-size: 30px;
}
